{%- set external_urls = {
  'github': 'https://github.com/tchaton/pl_hub_sparse_ml_callback',
  'github_issues': 'https://github.com/tchaton/pl_hub_sparse_ml_callback/issues',
  'contributing': 'https://github.com/tchaton/pytorch-lightning/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/tchaton/pytorch-lightning/blob/master/governance.md',
  'docs': 'https://pl_hub_sparse_ml_callback.rtfd.io/en/latest',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'tutorials': 'https://pt-pl_hub_sparse_ml_callback.readthedocs.io/en/latest/#tutorials',
  'previous_pytorch_versions': 'https://pt-pl_hub_sparse_ml_callback.rtfd.io/en/latest/',
  'home': 'https://pt-pl_hub_sparse_ml_callback.rtfd.io/en/latest/',
  'get_started': 'https://pt-pl_hub_sparse_ml_callback.readthedocs.io/en/latest/introduction_guide.html',
  'features': 'https://pt-pl_hub_sparse_ml_callback.rtfd.io/en/latest/',
  'blog': 'https://www.tchaton.ai/blog',
  'resources': 'https://pt-pl_hub_sparse_ml_callback.readthedocs.io/en/latest/#community-examples',
  'support': 'https://pt-pl_hub_sparse_ml_callback.rtfd.io/en/latest/',
}
-%}
